<section class="event-form-page group-subpage">
  <h1><%= heading %></h1>
  <form class="event-form form-style">
    <label>Event Name!
      <input type="text" name="event[title]" value="<%= groupEvent.escape("title") %>">
    </label>
    <label>Event Description
      <textarea name="event[description]"><%= groupEvent.escape("description")%></textarea>
    </label>
    <label>Event Start
      <input type="date" name="event[start_day]">
      <input type="time" name="event[start_timepick]">
    </label>
    <label>Event end
      <input type="date" name="event[end_day]">
      <input type="time" name="event[end_timepick]">
    </label>
    <label>Address
      <label>Name of Establishment
        <input type="text" name="event[loc_name]" value="<%= groupEvent.escape('loc_name')%>">
      </label>
      <label>Street Field 1:
        <input type="text" name="event[street1]" value="<%= groupEvent.escape('street1') %>">
      </label>
      <label>Street Field 2:
        <input type="text" name="event[street2]" value="<%= groupEvent.escape('street2') %>">
      </label>
      <label>City:
        <input type="text" name="event[city]" value="<%= groupEvent.escape('city') %>">
      </label>
      <label>State:
        <input type="text" name="event[state]" value="<%= groupEvent.escape('state') %>">
      </label>
      <label>Zip Code
        <input type="text" name="event[zip_code]" value="<%= groupEvent.escape('zip_code') %>">
      </label>

    </label>

    <button class="red-button-large"><%= buttonText %></button>
  </form>
</section>
