<section class="event-details group">
  <section class="event-details-main">
    <h1><%= groupEvent.escape("title") %></h1>
    <h2><%= groupEvent.escape("start_time") %> <%= groupEvent.escape("end_time") %></h3>
    <h2 id="event-location">Google Map</h2>
    <p><%= groupEvent.escape("description") %></p>
  </section>

  <section class="event-details-sidebar">
    <button class="rsvp-button">RSVP</button>
    <h3><%= groupEvent.attendees().length %> Going</h3>
    <div id="event-attendee-profiles">Attendees box</div>
  </section>
</section>
