<section class="event-details group-subpage group">
  <section class="event-details-main">
    <h1><%= groupEvent.escape("title") %></h1>
    <h2><%= startTime.fullDay %></h2>
    <h3><%= startTime.fullTime %></h3>
    <h2 id="event-location">
      <a href="http://maps.google.com/maps?q=<%- locLink %>" target="_blank">
        <% if (groupEvent.escape("loc_name")) { %>
        <%= groupEvent.escape("loc_name") %>
        <% } else { %>
          Location
        <% } %>
      </a>

    </h2>
    <p><%= groupEvent.escape("description") %></p>
  </section>

  <section class="event-details-sidebar">
    <button class="rsvp-button"><%= rsvpText %></button>
    <h3><%= groupEvent.attendees().length %> Going</h3>
    <div id="event-attendee-profiles" class="member-thumbs group">
      <ul>
        <% groupEvent.attendees().forEach(function(attendee){ %>
          <li class="group">
            <a href="/#/<%= group.escape('slug') %>/members/<%=attendee.id%>">
              <img class="profile-pic-img" src="<%= attendee.escape('avatar_url')%>">
              <h2><%= attendee.escape('username')%></h2>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </section>
</section>
