<main class="entire-user-profile group">
  <section class="user-profile-main">
    <h1> <%= user.get('username') %></h1>
      <h3><strong>Location:</strong><%= user.get('zip_code') %></h3>
      <h3><strong>Rendez-Zoo member since: </strong><%= timeParse.monthYear %></h3>
      <h3><strong>Bio:</strong></h3>
      <p><%=user.get('description') %></p>

      <article class="group-memberships">
        <h2>Member Of: </h2>
        <ul class="group-memberships">
          <% user.memberGroups().forEach(function(group){ %>
            <li><a href="/#/groups/<%=group.id%>">
              <img class="profile-pic-img" src="<%= group.escape('avatar_url')%>">
              <h3><%= group.escape('title') %></h3>
            </a></li>
            <% })%>
        </ul>
        <h2>Organizer for: </h2>
        <ul class="organizer-memberships">
          <% user.organizerGroups().forEach(function(group){ %>
            <li><a href="/#/groups/<%=group.id%>">
              <img class="profile-pic-img" src="<%= group.escape('avatar_url')%>">
              <h3><%= group.escape('title') %></h3>
            </a></li>
            <% })%>
        </ul>
      </article>
    </section>


    <section class="user-profile-sidebar">
      <div class="profile-picture">
        <img src="<%= user.escape("avatar_url") %>">
      </div>


      <div class="user-interests">
        <h2>Interested In: </h2>
        <ul>
          <% user.interests().forEach(function(interest){ %>
            <li><%= interest.escape('name') %></li>
          <% })%>
        </ul>
      </div>
    </section>
</main>
