<header class="navigation-header">
  <div class="sign-up-in group">
    <a href="<%= root_url %>"><%= image_tag 'rendez-zoo-logo.jpeg' %></a>
    <h1>Sign Up</h1>
  </div>
</header>
<section class="new-user group">
  <form  action="<%=users_url%>" method="POST">
    <%= user_auth_token %>
    <h1 class="errors"><%= flash[:errors] %></h1>
    <label><h3>Your name (this is public)</h3>
      <input type="text" name="user[username]">
    </label>
    <label><h3>Email address</h3>
      <input type="text" name="user[email]">
    </label>
    <label><h3>Password</h3>
      <input type="password" name="user[password]">
    </label>
    <button>Sign Up</button>

    <footer>
      <a href="<%= new_session_url %>"><small>Already a member?</small> Log In</a>
    </footer>
  </form>

</section>
