<% nav_url_a = logged_in? ? "#" : new_user_url %>
<% nav_url_b = logged_in? ? "#" : new_session_url %>
<% nav_text_a = logged_in? ? "Profile Menu" : "Sign Up"%>
<% nav_text_b = logged_in? ? "Notifications" : "Log In" %>


<header class="navigation-header group">
  <div class="nav-bar">
    <ul class="left-header-nav group">
      <li><a href="<%= root_url %>">Logo</a></li>
      <li><a href="#">Find a group!</a></li>
      <li><a href="<%= new_group_url %>">Create a group!</a></li>
    </ul>

    <ul class="right-header-nav group">
      <li><a href="<%= nav_url_a %>"><%= nav_text_a %></a></li>
      <li><a href="<%= nav_url_b %>"><%= nav_text_b %></a></li>
      <li><a href="#">Menu</a></li>
    </ul>
  </div>
</header>
