<header id="group-banner" class="group">

<h1><a href="/#/<%= group.escape('slug') %>"><%= group.escape("title") %></a></h1>
  <nav class="group-banner-nav-bar group">
    <ul class="group-banner-nav group">
      <li><a href="/#/<%= group.escape('slug') %>" id="home-link">Home</a></li>
      <li><a href="/#/<%= group.escape('slug') %>/members" id="members-link">Members</a></li>
      <li><a href="/#/<%= group.escape('slug') %>/photos" id="photos-link">Photos</a></li>
    </ul>
    <ul class="group-banner-buttons">
    </ul>
  </nav>
</header>
