<section class="group-form-main">
  <div class="group-form-header">
    <h1 class="group-form-title"><%= heading %></h1>
  </div>
  <form class="group-form form-style">
    <label>What is your group's name?
      <input type="text" name="group[title]" value="<%= group.escape('title') %>">
    </label>
    <label>What is your group about?
      <textarea name="group[description]"><%= group.escape("description") %></textarea>
    </label>
    <label>Where are you located? (zip code)
      <input class="zip" type="text" name="group[zip_code]" value="<%= group.escape('zip_code')%>">
    </label>
    <label>What would you like to call your group members?
      <input name="group[flair]" value="<%= group.escape('flair') %>">
    </label>
    <label>Select an image to represent your group!
      <input type="file" name="group[avatar]" id="input-group-avatar">
    </label>

    <div class="errors"></div>
    <button class="red-button-large"><%= buttonText %></button>
  </form>
</section>
