<div class="group-form-header">
  <h1 class="group-form-title"><%= heading %></h1>
</div>
<form class="group-form">
  <label>What is your group's name?
    <input type="text" name="group[title]" value="<%= group.escape('title') %>">
  </label>
  <label>What is your group about?
    <textarea name="group[description]"><%= group.escape("description") %></textarea>
  </label>
  <label>Where are you located? (zip code)
    <input type="text" name="group[zip_code]" value="<%= group.escape('zip_code')%>">
  </label>
  <label>Select an image to represent your group!
    <input type="file" name="group[avatar]" id="input-group-avatar">
  </label>

  <button><%= buttonText %></button>
</form>
