<div class="sidebar-top-details">
  <img src="<%= group.escape('avatar_url') %>">
  <a href="#"><%= group.escape('zip_code') %></a>
</div>

<ul class="sidebar-top-events-links">
  <li class="group"><a href="/#/groups/<%= group.id %>/members">
    <span class="link-label">Members </span>
    <span class="link-num"><%= group.groupOrganizers().length + group.groupMembers().length %></span>
  </a></li>
  <li class="group">
    <span class="link-label">Upcoming Events</span>
    <span class="link-num">num</span>
  </li>
  <li class="group">
    <span class="link-label">Past Events</span>
    <span class="link-num">num</span>
  </li>
  <li><a href="/#/groups/<%= group.id%>/calendar">Calendar Events</a></li>
</ul>

<div class="sidebar-top-organizer">
  <a href="/#/groups/<%=group.id%>/members/<%= group.escape('owner_id')%>">
    Owner
  </a>
</div>


<ul id="sidebar-categories">
  <% group.groupCategories().forEach(function(category){ %>
    <li><a href="#"><%= category.escape('name')%></a></li>
  <% }) %>
</ul>
