<div class="sidebar-top-details">
  <img src="<%= group.escape('avatar_url') %>">
  <h2><%= group.escape('city') %>, <%= group.escape('state') %></h2>
</div>

<ul class="sidebar-top-events-links">
  <li class="group"><a href="/#/<%= group.escape('slug') %>/members">
    <span class="link-label"><%= group.escape('flair') %></span>
    <span class="link-num"><%= group.groupOrganizers().length + group.groupMembers().length %></span>
  </a></li>
  <li class="group">
    <span class="link-label">Upcoming Events</span>
    <span class="link-num"><%= group.groupEvents().upcomingEvents().length %></span>
  </li>
  <li class="group">
    <span class="link-label">Past Events</span>
    <span class="link-num"><%= group.groupEvents().pastEvents().length %></span>
  </li>
</ul>

<div class="sidebar-top-organizer">
  <a href="/#/<%=group.escape('slug')%>/members/<%= group.escape('owner_id')%>">
    Owner
  </a>
</div>


<ul id="sidebar-categories">
  <% group.groupCategories().forEach(function(category){ %>
    <li><a href="#"><%= category.escape('name')%></a></li>
  <% }) %>
</ul>
